:root {
  --main-point-green: #8db859;
}

@keyframes alertFill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes alertText {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}
